* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 100px; /* Reduced top margin */
    font-size: 40px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.Middle {
    text-align: center;
}

.Main {
    background-color: #257CFD; /* Your blue color */
    padding: 20px 0; /* Add some padding inside the section */
}

p{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;

}
button{
    padding: 9px 25px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover {
    background-color: rgba(226, 222, 222, 0.8);
}